@media screen and (min-width: 480px) {
  .container {
    width: calc(396px + 16px + 16px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }

  address {
    display: none;
  }

  .hero-title {
    text-transform: capitalize;
  }
  .footer-text-soc,
  .footer-form-text {
    text-align: center;
  }

  .footer-logo-accent {
    display: block;
  }

  .footer-form-field {
    margin-bottom: 16px;
  }
  .footer-soc {
    margin-bottom: 72px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and(max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: var(--gra), url(../images/mobile-hero-bg@2x.jpg);
  }
}
