@media screen and (min-width: 480px) {
  .container {
    width: calc(396px + 16px + 16px);
  }
  .hero {
    background-image: var(--gra), url(../images/tablet-hero-bg.jpg);
  }
  .active-tel {
    font-size: 36px;
  }

  .modal {
    width: 392px;
  }
  .modal-text {
    font-size: 16px;
  }
  .modal-form-check-desc {
    font-size: 12px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px),
  screen and (min-resolution: 192dpi) and(min-width: 480px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: var(--gra), url(../images/tablet-hero-bg@2x.jpg);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-form-input {
    width: 396px;
  }
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }

  address {
    display: none;
  }

  .hero-title {
    text-transform: capitalize;
  }

  .footer-text-soc,
  .footer-form-text {
    text-align: center;
  }

  .footer-logo-accent {
    display: block;
  }

  .footer-form-field {
    margin-bottom: 16px;
  }
  .footer-soc {
    margin-bottom: 72px;
  }

  .team-container.small-container {
    width: calc(264px + 16px + 16px);
  }

  .modal {
    overflow-y: scroll;
  }
}
