@media screen and (min-width: 768px) {
  .container {
    width: calc(736px + 16px + 16px);
  }
  .hero {
    background-image: var(--gra), url(../images/tablet-hero-bg.jpg);
  }
  .mobile-menu-open,
  .mobile-menu {
    display: none;
  }
  .header-logo-accent {
    margin-right: 120px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .team {
    padding-bottom: 104px;
  }

  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
  .team-list-item {
    width: calc((100% - 24px) / 2);
  }
  .small-container {
    width: calc(264px * 2 + 24px + 16px + 16px);
  }

  .customers-list {
    column-gap: 24px;
  }

  .customers-list-item {
    width: calc((100% - 24px * 2) / 3);
  }
  .footer-container {
    align-items: baseline;
    justify-content: start;
  }
  .footer-logo-text {
    margin-right: 24px;
  }
  .footer-form-input {
    min-width: 264px;
  }

  .footer-form-field {
    margin-right: 24px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 40px;
  }

  .hero {
    padding-top: 112px;
    padding-bottom: 108px;
  }
}

@media screen and (max-width: 1199px) {
  .features-item-icon {
    display: none;
  }

  .work {
    display: none;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and(min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: var(--gra), url(../images/tablet-hero-bg@2x.jpg);
  }
}
